.logged-in.woocommerce-account .entry-content .woocommerce{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation{
    width: 100%;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li{
    padding: 0;
    margin: 5px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li a{
    color: #c988d8;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li a:hover{
    background-color: #c988d8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

header.woocommerce-Address-title.title a.edit{
    margin-top: 2rem;
}

form.woocommerce-EditAccountForm.edit-account label{
    color: #3a3a3a;
    
}
