.logged-in.woocommerce-account .entry-content .woocommerce{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation{
    width: 100%;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li{
    padding: 0;
    margin: 5px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li a{
    color: #898989;
    font-weight: bold;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li a:hover{
    background-color: #c988d8;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}

header.woocommerce-Address-title.title h3{
    color: #ab50bf;
    font-weight: bold;
}

header.woocommerce-Address-title.title a.edit{
    margin-top: 2rem;
    background-color: #c988d8;
    color: white;
    padding: 0 0.5rem;
    border-radius: 10px;
}

form.woocommerce-EditAccountForm.edit-account label{
    color: #ab50bf;
}

form.woocommerce-EditAccountForm.edit-account input{
    border: 2px solid #898989;
}

form.woocommerce-EditAccountForm.edit-account fieldset{
    border: 2px dashed #898989;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name{
    color: white;
}

td.wc-block-cart-item__product div.wc-block-cart-item__quantity div.wc-block-components-quantity-selector{
    border: 3px solid #898989;
}

div.wc-block-components-main {
    background-color: #c988d8;
    border-radius: 10px;
    color: white;
}

div.wc-block-components-sidebar span.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title{
    color: #c988d8;
}
