.logged-in.woocommerce-account .entry-content .woocommerce{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation{
    width: 100%;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li{
    padding: 0;
    margin: 5px;
}

header.woocommerce-Address-title.title a.edit{
    margin-top: 2rem;
}


